<footer class="wrapper-gray" ms.cmpgrp="navigation" ms.pgarea="footer">
  <div class="container">
    <div class="row">
      <section class="col-md-4 sign-up">
        <h4 class="small-text-bold black">Sign up</h4>
        <div class="small-text gray">
          Insights await in your company's data. Bring them into focus with Power BI.
        </div>

        
          

<form class="email-form form-style3" id="footer-email-form" action="https://portal.office.com/signup" method="POST" onsubmit="return validateEmailForm('footer-email-form')">
  <input type="hidden" name="Sku" value="a403ebcc-fae0-4ca2-8c8c-7a907fd6c235">
  <input type="hidden" name="ReturnUrl" value="https://app.powerbi.com?redirectedFromSignup=1&amp;noSignUpCheck=1&amp;pbi_source=web&amp;pbi_source_id=0">
  <input type="text" name="StepsData.Email" class="input-regular" placeholder="Enter your work email address" style="width: 188px;">
  <input type="submit" class="button" value="Use it free" ms.cmpnm="signup" ms.interactiontype="22" ms.title="use it free" ms.cmptyp="button" ms.ea_action="use" ms.ea_offer="prd" ms.ea_name="powerbi">
  <div class="input-error"></div>
  <p class="disclaimer-text small-text">
      By clicking Use it free, you agree to the
      <a href="/terms-of-service">
          Power BI Terms of Service.
      </a>
  </p>
<span id="input3" style="font-size: 13px; opacity: 0; height: 0px; padding: 0px 10px; border: 2px solid transparent; display: inline-block; font-family: wf_segoe-ui_light, helvetica, arial, sans-serif;">Enter your work email address</span></form>

        

      </section>
      <section class="col-md-4 downloads clearfix">
        <h4 class="small-text-bold black">Downloads</h4>
        <div class="col-xs-6 col-md-12">
          <svg class="download-icon" alt="Download arrow icon">
            <!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 19.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 32" enable-background="new 0 0 20 32" xml:space="preserve" preserveAspectRatio="xMinYMin">
<path fill="#323232" d="M1,32h18v-2H1V32z M9,0v24.6l-7.3-7.3l-1.4,1.4l9.7,9.8l9.7-9.8l-1.4-1.4L11,24.6V0H9z"></path>
</svg>

          </svg>
          <p class="small-text gray text">
            Whether you are on the go or need to create rich, interactive reports, Power BI offers you the tools you need.
          </p>
        </div>
        <div class="col-xs-6 col-md-12">
          <div class="padded-for-image links">
            <ul class="black">
              <li><a href="/desktop" class="black-link" ms.cmpnm="downloads" ms.interactiontype="1" ms.title="desktop" ms.cmptyp="linklist" ms.ea_action="dwn" ms.ea_offer="str" ms.ea_name="downloads" ms.index="0">Power BI Desktop</a></li>
              <li><a href="/mobile" class="black-link" ms.cmpnm="downloads" ms.interactiontype="1" ms.title="mobile" ms.cmptyp="linklist" ms.ea_action="dwn" ms.ea_offer="str" ms.ea_name="downloads" ms.index="1">Mobile</a></li>
              <li><a href="/downloads" class="black-link" ms.cmpnm="downloads" ms.interactiontype="1" ms.title="downloads" ms.cmptyp="linklist" ms.ea_action="dwn" ms.ea_offer="str" ms.ea_name="downloads" ms.index="2">SEE ALL DOWNLOADS</a></li>
            </ul>
          </div>
        </div>
      </section>
      <section class="col-md-4 legal-info clearfix">
        <div class="col-xs-6">
          <h4 class="small-text-bold black">Legal</h4>
          <ul class="black">
            <li><a href="http://go.microsoft.com/fwlink/?LinkId=248681" class="black-link" ms.cmpnm="legal" ms.interactiontype="1" ms.title="privacy &amp; cookies" ms.cmptyp="linklist" ms.ea_action="try" ms.ea_offer="str" ms.ea_name="legal" ms.index="0">PRIVACY &amp; COOKIES</a></li>
            <li><a href="https://www.microsoft.com/en-us/legal/intellectualproperty/copyright/default.aspx" class="black-link" ms.cmpnm="legal" ms.interactiontype="1" ms.title="terms of use" ms.cmptyp="linklist" ms.ea_action="try" ms.ea_offer="str" ms.ea_name="legal" ms.index="1">TERMS OF USE</a></li>
            <li><a href="http://go.microsoft.com/?linkid=9851308" class="black-link" ms.cmpnm="legal" ms.interactiontype="1" ms.title="trademarks" ms.cmptyp="linklist" ms.ea_action="try" ms.ea_offer="str" ms.ea_name="legal" ms.index="2">TRADEMARKS</a></li>

            
            
            

          </ul>
        </div>
        <div class="col-xs-6">
          <h4 class="small-text-bold black">Information</h4>
          <ul class="black">
            <li><a href="https://support.powerbi.com/" class="black-link" ms.cmpnm="information" ms.interactiontype="1" ms.title="support" ms.cmptyp="linklist" ms.ea_action="try" ms.ea_offer="str" ms.ea_name="information" ms.index="0">Support</a></li>
            <li><a href="/developers" class="black-link" ms.cmpnm="information" ms.interactiontype="1" ms.title="developers" ms.cmptyp="linklist" ms.ea_action="try" ms.ea_offer="str" ms.ea_name="information" ms.index="1">Developers</a></li>
            <li><a href="http://www.microsoft.com/en-us/powerBI/bi-blog.aspx" class="black-link" ms.cmpnm="information" ms.interactiontype="1" ms.title="blog" ms.cmptyp="linklist" ms.ea_action="try" ms.ea_offer="str" ms.ea_name="information" ms.index="2">Blog</a></li>
            <li><a href="/newsletter" class="black-link" ms.cmpnm="information" ms.interactiontype="1" ms.title="newsletter" ms.cmptyp="linklist" ms.ea_action="try" ms.ea_offer="str" ms.ea_name="information" ms.index="3">Newsletter</a></li>
            <li><a href="/landing/pyramid" class="black-link" ms.cmpnm="information" ms.interactiontype="1" ms.title="pyramid analytics" ms.cmptyp="linklist" ms.ea_action="try" ms.ea_offer="str" ms.ea_name="information" ms.index="4">Pyramid Analytics</a></li>
          </ul>
        </div>
      </section>
    </div>
    <div class="row">
      <hr class="gray-bar">
      <div class="col-sm-8 col-md-6 clearfix">
        <div class="logo microsoft">
          <!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 28 28" enable-background="new 0 0 28 28" xml:space="preserve" preserveAspectRatio="xMinYMin">
<rect x="-0.1" y="-0.1" fill="#231F20" width="13.4" height="13.4"></rect>
<rect x="14.7" y="-0.1" fill="#231F20" width="13.4" height="13.4"></rect>
<rect x="-0.1" y="14.7" fill="#231F20" width="13.4" height="13.4"></rect>
<rect x="14.7" y="14.7" fill="#231F20" width="13.4" height="13.4"></rect>
</svg>

        </div>
        <div class="text microsoft">
          <!--?xml version="1.0" encoding="utf-8"?-->
<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 20" enable-background="new 0 0 100 20" xml:space="preserve" preserveAspectRatio="xMinYMin">
<g>
	<path fill="#231F20" d="M10.4,12.8l-0.8,2.3h0c-0.1-0.5-0.4-1.3-0.8-2.3L4.3,1.6H0v17.7h2.9V8.5c0-0.7,0-1.5,0-2.4
		c0-0.5-0.1-0.8-0.1-1.1h0.1c0.1,0.7,0.3,1.2,0.4,1.5l5.3,12.9h2l5.3-13c0.1-0.3,0.2-0.9,0.4-1.4h0.1c-0.1,1.3-0.1,2.5-0.1,3.2v11.3
		h3.1V1.6H15L10.4,12.8z"></path>
	<rect x="22" y="6.7" fill="#231F20" width="3" height="12.7"></rect>
	<path fill="#231F20" d="M23.6,1.3c-0.5,0-0.9,0.2-1.3,0.5c-0.4,0.3-0.5,0.8-0.5,1.2c0,0.5,0.2,0.9,0.5,1.2c0.3,0.3,0.8,0.5,1.3,0.5
		c0.5,0,0.9-0.2,1.3-0.5c0.4-0.3,0.5-0.7,0.5-1.2c0-0.5-0.2-0.9-0.5-1.2C24.5,1.4,24.1,1.3,23.6,1.3"></path>
	<path fill="#231F20" d="M35.6,6.5c-0.6-0.1-1.1-0.2-1.7-0.2c-1.4,0-2.6,0.3-3.6,0.9c-1,0.6-1.8,1.4-2.4,2.5
		c-0.5,1.1-0.8,2.3-0.8,3.6c0,1.2,0.3,2.3,0.8,3.3c0.5,1,1.3,1.7,2.2,2.3c1,0.5,2,0.8,3.3,0.8c1.4,0,2.6-0.3,3.6-0.8l0,0v-2.7
		l-0.1,0.1c-0.4,0.3-0.9,0.6-1.5,0.8c-0.5,0.2-1,0.3-1.4,0.3c-1.2,0-2.1-0.4-2.8-1.1c-0.7-0.7-1-1.7-1-3c0-1.3,0.4-2.3,1.1-3.1
		C32,9.2,32.9,8.8,34,8.8c1,0,1.9,0.3,2.8,1L37,9.9V7l0,0C36.6,6.8,36.2,6.7,35.6,6.5"></path>
	<path fill="#231F20" d="M45.4,6.4c-0.7,0-1.4,0.2-2,0.7c-0.5,0.4-0.9,1-1.1,1.7h0V6.7h-3v12.7h3v-6.5c0-1.1,0.2-2,0.7-2.7
		c0.5-0.7,1.1-1,1.9-1c0.3,0,0.6,0,0.9,0.1c0.3,0.1,0.6,0.2,0.7,0.3l0.1,0.1v-3l0,0C46.3,6.5,45.9,6.4,45.4,6.4"></path>
	<path fill="#231F20" d="M55.9,16.1c-0.6,0.7-1.4,1.1-2.5,1.1c-1.1,0-2-0.4-2.6-1.1c-0.6-0.7-0.9-1.7-0.9-3.1c0-1.3,0.3-2.4,0.9-3.1
		c0.6-0.7,1.5-1.1,2.5-1.1c1,0,1.9,0.4,2.5,1c0.6,0.7,0.9,1.7,0.9,3.1C56.8,14.4,56.5,15.4,55.9,16.1 M53.5,6.4
		c-2.1,0-3.8,0.6-4.9,1.8c-1.2,1.2-1.8,2.9-1.8,5c0,2,0.6,3.6,1.7,4.7c1.2,1.2,2.7,1.8,4.7,1.8c2,0,3.7-0.6,4.8-1.8
		c1.2-1.2,1.8-2.9,1.8-4.9c0-2-0.6-3.6-1.7-4.8C57.1,6.9,55.5,6.4,53.5,6.4"></path>
	<path fill="#231F20" d="M66.5,11.9c-0.9-0.4-1.5-0.7-1.8-0.9c-0.2-0.2-0.4-0.6-0.4-1c0-0.4,0.2-0.7,0.5-0.9
		c0.3-0.2,0.7-0.4,1.3-0.4c0.5,0,1,0.1,1.5,0.2c0.5,0.2,1,0.4,1.3,0.6l0.1,0.1V6.9l0,0c-0.3-0.1-0.8-0.3-1.4-0.4
		c-0.6-0.1-1.1-0.2-1.5-0.2c-1.4,0-2.6,0.4-3.5,1.1c-0.9,0.7-1.4,1.7-1.4,2.8c0,0.6,0.1,1.1,0.3,1.6c0.2,0.5,0.5,0.8,0.9,1.2
		c0.4,0.3,1,0.7,1.8,1c0.7,0.3,1.2,0.5,1.5,0.7c0.3,0.2,0.5,0.4,0.7,0.6c0.1,0.2,0.2,0.4,0.2,0.7c0,0.9-0.6,1.3-2,1.3
		c-0.5,0-1-0.1-1.7-0.3c-0.6-0.2-1.2-0.5-1.7-0.9L61.3,16v2.9l0,0c0.4,0.2,1,0.4,1.6,0.5c0.6,0.1,1.2,0.2,1.7,0.2
		c1.5,0,2.8-0.4,3.7-1.1c0.9-0.7,1.4-1.7,1.4-2.9c0-0.9-0.2-1.6-0.7-2.2C68.5,12.9,67.7,12.4,66.5,11.9"></path>
	<path fill="#231F20" d="M80.1,16.1c-0.6,0.7-1.4,1.1-2.5,1.1c-1.1,0-2-0.4-2.6-1.1c-0.6-0.7-0.9-1.7-0.9-3.1c0-1.3,0.3-2.4,0.9-3.1
		c0.6-0.7,1.5-1.1,2.5-1.1c1,0,1.9,0.4,2.5,1c0.6,0.7,0.9,1.7,0.9,3.1C81,14.4,80.7,15.4,80.1,16.1 M77.8,6.4
		c-2.1,0-3.8,0.6-4.9,1.8c-1.2,1.2-1.8,2.9-1.8,5c0,2,0.6,3.6,1.7,4.7c1.2,1.2,2.7,1.8,4.7,1.8c2,0,3.7-0.6,4.8-1.8
		c1.2-1.2,1.8-2.9,1.8-4.9c0-2-0.6-3.6-1.7-4.8C81.3,6.9,79.7,6.4,77.8,6.4"></path>
	<path fill="#231F20" d="M100,9.1V6.7h-3V2.9l-0.1,0L94,3.8l-0.1,0v2.9h-4.5V5.1c0-0.7,0.2-1.3,0.5-1.7c0.3-0.4,0.8-0.6,1.4-0.6
		c0.4,0,0.9,0.1,1.3,0.3l0.1,0V0.6l-0.1,0c-0.4-0.1-1-0.2-1.7-0.2c-0.9,0-1.7,0.2-2.4,0.6c-0.7,0.4-1.2,0.9-1.6,1.6
		c-0.4,0.7-0.6,1.5-0.6,2.4v1.8h-2.1v2.4h2.1v10.3h3V9.1H94v6.5c0,2.7,1.3,4,3.8,4c0.4,0,0.8,0,1.3-0.1c0.4-0.1,0.8-0.2,0.9-0.3l0,0
		v-2.5l-0.1,0.1c-0.2,0.1-0.4,0.2-0.6,0.3c-0.2,0.1-0.4,0.1-0.6,0.1c-0.6,0-1-0.2-1.3-0.5c-0.3-0.3-0.4-0.9-0.4-1.6v-6H100z"></path>
</g>
</svg>

        </div>
        <br>
        <p class="disclaimer-text black">Designed and built by the <a href="/studio" target="_blank" ms.cmpnm="designstudio" ms.interactiontype="1" ms.title="studio" ms.cmptyp="link" ms.ea_action="try" ms.ea_offer="str" ms.ea_name="design-studio">Power BI Design Studio</a></p>
      </div>

      <div class="col-sm-4 col-md-6">

        <a href="https://twitter.com/MSPowerBI" target="_blank" class="social-icon" ms.cmpnm="social" ms.interactiontype="1" ms.title="twitter" ms.cmptyp="icon" ms.ea_action="shr" ms.ea_offer="som" ms.ea_name="twitter"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/microsoftbi?fref=ts" target="_blank" class="social-icon" ms.cmpnm="social" ms.interactiontype="1" ms.title="facebook" ms.cmptyp="icon" ms.ea_action="shr" ms.ea_offer="som" ms.ea_name="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://www.youtube.com/c/mspowerbi" target="_blank" class="social-icon" ms.cmpnm="social" ms.interactiontype="1" ms.title="youtube" ms.cmptyp="icon" ms.ea_action="vue" ms.ea_offer="pdi" ms.ea_name="youtube"><i class="fa fa-youtube"></i></a>

        
          <select id="userLanguageSelect" class="form-control language-select-box" data-server-lang="undefined">
            <option value="en-us">English</option>
            <option value="es-es">Español</option>
            <option value="fr-fr">Français</option>
            <option value="de-de">Deutsch</option>
            <option value="it-it">Italiano</option>
            <option value="ru-ru">русский</option>
            <option value="ja-jp">日本語</option>
            <option value="ko-kr">한국어</option>
          </select>


          <select class="form-control language-select-box currency-picker" data-server-curr="undefined">
  
      <option value="USD"> US Dollar ($)</option>
  
      <option value="ARS"> Argentine Peso ($)</option>
  
      <option value="AUD"> Australian Dollar ($)</option>
  
      <option value="CAD"> Canadian Dollar ($)</option>
  
      <option value="CHF"> Swiss Frank (chf)</option>
  
      <option value="DKK"> Danish Krone (kr)</option>
  
      <option value="EUR"> Euro (€)</option>
  
      <option value="GBP"> British Pound (£)</option>
  
      <option value="HKD"> Hong Kong Dollar (HK$)</option>
  
      <option value="IDR"> Indonesian Rupiah (Rp)</option>
  
      <option value="INR"> Indian Rupee (₹)</option>
  
      <option value="JPY"> Japanese Yen (¥)</option>
  
      <option value="KRW"> Korean Won (₩)</option>
  
      <option value="MXN"> Mexican Peso (MXN$)</option>
  
      <option value="MYR"> Malaysian Ringgit (RM$)</option>
  
      <option value="NOK"> Norwegian Krone (kr)</option>
  
      <option value="NZD"> New Zealand Dollar ($)</option>
  
      <option value="RUB"> Russian Ruble (руб)</option>
  
      <option value="SAR"> Saudi Riyal (SR)</option>
  
      <option value="SEK"> Swedish Krona (kr)</option>
  
      <option value="TRY"> Turkish Lira (TL)</option>
  
      <option value="TWD"> Taiwanese Dollar (NT$)</option>
  
      <option value="ZAR"> South African Rand ®</option>
  
</select>

        

      </div>

    </div>
  </div>
</footer>