<section class="navigation-wrapper" ms.cmpgrp="navigation" ms.pgarea="header">
   <div class="container">
      <nav class="navbar navbar-default">
         <div class="branding white">
            <a href="/" ms.cmptyp="link" ms.cmpnm="logo" ms.interactiontype="1" ms.title="powerbi logo">
            <div class="text powerbi" style="font-color: white;    width: 500px; font-size: 28px;  margin-left: 0px;">Microsoft Enterprise Mobility</div>
            </a>
         </div>
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
         </div>
         <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav" id="nav-accordion">

              <li class="menu-item mobile">
                <div class="dropdown white">
                  <a data-toggle="collapse" data-parent="#accordion" href="/" style="color: white;">Home</a>
                </div>
              </li>

              <li class="menu-item solutions">
                <div class="dropdown white">
                  <a data-toggle="collapse" data-parent="#accordion" href="/{{ site.name}}/library/newhub.html" style="color: white;">Documentation</a>
                  <ul id="collapseThree" class="dropdown-menu panel-collapse collapse" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="/{{ site.name}}/library/hub.html" ms.cmpnm="menu" ms.interactiontype="1" ms.index="0" ms.title="" ms.nav1="support" style="color: white;">Hub</a></li>
                    <li><a tabindex="0" href="/{{ site.name}}/library/newhub.html" ms.cmpnm="menu" ms.interactiontype="1" ms.index="0" ms.title="" ms.nav1="support" style="color: white;">New Hub (Dynamic)</a></li>
                  </ul>
                </div>
              </li>

              <li class="menu-item pricing">
                <div class="dropdown white">
                  <a class="dropdown-parent-item" data-toggle="collapse" data-parent="#accordion" href="http://docsms.azurewebsites.net/new/newschema/openpublish/introduction " style="color: white;">Library</a>
                  <ul id="collapseThree" class="dropdown-menu panel-collapse collapse" role="menu" aria-labelledby="dLabel">
                    <li><a tabindex="-1" href="http://docsms.azurewebsites.net/new/newschema/openpublish/introduction" ms.cmpnm="menu" ms.interactiontype="1" ms.index="0" ms.title="" ms.nav1="support" style="color: white;">Introduction</a></li>
                    <li><a tabindex="0" href="http://docsms.azurewebsites.net/new/newschema/openpublish/tryit" ms.cmpnm="menu" ms.interactiontype="1" ms.index="0" ms.title="" ms.nav1="support" style="color: white;">Try it</a></li>
                    <li><a tabindex="1" href="http://docsms.azurewebsites.net/new/newschema/openpublish/readme" ms.cmpnm="menu" ms.interactiontype="1" ms.index="0" ms.title="" ms.nav1="support" style="color: white;">Readme</a></li>
                  </ul>
                </div>
              </li>

            </ul>
         </div>
      </nav>
   </div>
</section>